[submodule "vim/pack/bundle/opt/vim-surround"]
	path = vim/pack/bundle/opt/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/bundle/opt/vim-repeat"]
	path = vim/pack/bundle/opt/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/pack/bundle/opt/vim-commentary"]
	path = vim/pack/bundle/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/pack/bundle/opt/ale"]
	path = vim/pack/bundle/opt/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/bundle/opt/jedi-vim"]
	path = vim/pack/bundle/opt/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
